* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 190px;
  color: white;
  /* border: solid red 2px; */
}

.logo-normanleyva {
  width: 130px;
  height: 80px;
  margin: 10px 0;
  /* border: solid red 2px; */
}

.ul-menu {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 70px;
  list-style: none;
  background-color: black;
  /* border: solid red 2px; */
}

li {
  color: white;
  margin: 0 30px;
  border-bottom: 1px solid rgb(2, 2, 2);
  font-size: 1rem;
  font-family: 'Orbitron', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.quiensoy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* border: solid red 2px; */
}

.stacks-flag {
  width: 100%;
  height: 60px;
}

.flag-color {
  width: 100%;
  height: 5px;
  margin: 2px 0;
}

.orange {
  background-color: orange;
}
.blue {
  background-color: rgb(38, 90, 235);
}
.yellow {
  background-color: rgb(246, 230, 4);
}

.grey {
  background-color: rgb(241, 240, 240);
}

.img-father {
  top: 140px;
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  /* border: solid red 2px; */
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid white 3px;
}

.profile-title {
  padding: 20px;
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif; /* border: solid red 2px; */
}

.profile-description {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
  /* border: solid red 2px; */
}

.stacks {
  display: flex;
  margin-bottom: 20px;
  /* border: solid red 2px; */
}

.logo-stacks {
  width: 40px;
}

.trabajos {
  width: 100%;
  height: 200px;
  background-image: url(/assets/images/webdesign2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.trabajos h2 {
  color: white;
  text-align: center;
}

.contact {
  text-align: center;
  padding: 10px;
}

.wrap-form {
  width: 90%;
  height: 100px;
  background-color: rgb(230, 227, 227);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 200px;
  }

  li {
    margin: 0 30px;
    font-size: 2rem;
  }

  .img-father {
    top: 170px;
  }

  .profile-photo {
    width: 120px;
    height: 120px;
  }
}

.stacks-flag {
  height: 100px;
}

.profile-title {
  font-size: 2.5rem;
  font-family: 'Orbitron', sans-serif; /* border: solid red 2px; */
  margin-bottom: 25px;
}

.profile-description {
  font-size: 1.6rem;
  margin-bottom: 40px;
}

.stacks {
  margin-bottom: 100px;
}

.logo-stacks {
  width: 90px;
}
